@import url('style/aside.css');
@import url('style/main.css');
@import url('style/tocados.css');

:root {
    --azul-void: #01080E;
    --azul-escuro: #041832;
    --azul-medio: #144480;
    --azul-neon: #2BDEFD;
    --play-hover: #2EBED7;
    --cinza-cards: #c4c4c421;
    --cinza: #C4C4C4;
    --branco: #FFFFFF;
    --gradient: #072041 #041833 #154580;
    --fonte-principal: "Open Sans", sans-serif;
}

* {
    color: var(--branco);
    font-size: 16px;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}













